input, button {
  display: block;
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#messages {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}